* {
    margin:0;
    padding:0;
}

/*弹出层*/


.layer {
    width: 820px;
    height: 400px;
    background: snow;
    border: 1px solid #ccc;
    position: absolute;
    /*left: calc(50%-150px);
    top: calc(50%-150px);*/
    cursor: move;
}

.title {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: #eee;
    user-select: none;
}

.shadow {
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.close {
    width: 20px;
    height: 15px;
    text-align: center;
    /*text-indent: 0px;*/
    line-height: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: default;
}


#control-buttons {
    margin-top: 20px;
    margin-bottom: 40px;
}

#control-buttons > div > button {
    /*margin-top: -70px;*/
    /*margin-left: 20px;*/
    height: 46px;
}

#control-buttons>div>.createVessel{
    margin-left: 280px;
    margin-top: -90px;
}
#buttons-vessel-struct>.bayCombineInfo{
    margin-left: 390px;
    margin-top: -90px;
}

#buttons-vessel-struct>.createAllBaysStruct {
    margin-left: 20px;
    margin-top: -90px;
}
#buttons-vessel-struct>.createStowage{
    margin-left: 20px;
    margin-top: -90px;
}



.zoomToggle {
    margin-top:10px;
    margin-bottom: 40px;
}

.mainArea {
    width: 100%;
}

.bayArea .bayZone_20 {
    background:#2f96b4;
    width:38px;
    height:30px;
    float:left;
    margin:2px;
    display:flex;
    justify-content:center;
    align-items:center;
}
/* combined bay area */
.bayArea .bayZone_inch40 {
    width:38px;
    height:30px;
    float:left;
    background-color:lightgrey;
    margin:2px;
    position: relative;
}

.newBayArea .newBay20 {
    background:#2f96b4;
    width: 38px;
    height: 60px;
    float:left;
    margin:2px;
    display:flex;
    justify-content:center;
    align-items:center;
}
/** newBayArea **/
.newBayArea .comBay20_40{
    width: 80px;
    height:60px;
    float: left;
    margin: 2px;
}

.newBayArea .comBay20_40 .newBay40InCom {
    width: 80px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: yellow;
}

.newBayArea .comBay20_40 .newBay20InComParent {
    width: 80px;
    height: 30px;
    display:flex;
    background:#2f96b4;
}

.newBayArea .comBay20_40 .newBay20InComParent .newBay20InComLeft {
    width: 40px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    border-right: 1px solid silver;
}

.newBayArea .comBay20_40 .newBay20InComParent .newBay20InComRight {
    width: 40px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    border-left: 1px solid silver;
}
/* combined bay area */
/* vessel stowage info */
.vesselStowageInfo {
    overflow-y: scroll;
    margin-top: 30px;
    margin-left: 100px;
    width: 1000px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, minmax(0,1fr));
}

.vesselStowageInfo > .vesselHeader {
    margin-top: 10px;
    grid-column: 1/13;
    grid-row: 1;
    border-radius: 5px;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 2px solid rgb(63,23,227);
}

.vesselStowageInfo > .baysStowageArea {
    display: grid;
    grid-column: 1/13;
    grid-row: 2;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.vesselStowageInfo > .baysStowageArea > .bayStowage {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid rgb(79,185,227);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.vesselStowageInfo > .baysStowageArea > .bayStowage > .header {
    grid-column: 2/10;
    grid-row: 1;
    background-color: #dda20a;
    border: 2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.vesselStowageInfo > .baysStowageArea > .bayStowage > .content {
    grid-column: 1/10;
    grid-row: 2;
    background-color: #dda20a;
    border: 2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.vesselBodyInLoading {
    background:black;
}
/* vessel stowage info */
/* vessel all bays struct */
.allBaysStruct {
    overflow-y: scroll;
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, minmax(0,1fr));
}

.allBaysStruct > .vesselHeader {
    margin-top: 10px;
    grid-column: 1/13;
    grid-row: 1;
    border-radius: 5px;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 2px solid rgb(63,23,227);
}

.allBaysStruct > .baysStructArea {
    display: grid;
    grid-column: 1/13;
    grid-row: 2;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.allBaysStruct > .baysStructArea > .bayStruct {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid rgb(79,185,227);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.allBaysStruct > .baysStructArea > .bayStruct > .header {
    grid-column: 2/10;
    grid-row: 1;
    background-color: #dda20a;
    border: 2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.allBaysStruct > .baysStructArea > .bayStruct > .bay-struct-content {
    grid-column: 1/10;
    /*grid-row: 2;*/
    /*background-color: #dda20a;*/
    /*border: 2px solid black;*/
    /*display:flex;*/
    /*justify-content:center;*/
    /*align-items:center;*/
}

/* bay */
.bay-struct-define {
    margin: 10px;
    width: fit-content;
}

.bay-struct-header {
    height: 20px;
    display:flex;
    justify-content:left;
    align-items:center;
}

.bay-struct-content > .bay-col-index-deck,
.bay-struct-content > .bay-col-index-cab {
    height: 20px;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
}

.bay-struct-content > .bay-col-index-deck > .blank-index-deck,
.bay-struct-content > .bay-col-index-cab > .blank-index-cab {
    grid-column: 1;
    background-color: purple;
}

.bay-struct-content > .bay-col-index-deck > .col-index-area-deck,
.bay-struct-content > .bay-col-index-cab > .col-index-area-cab {
    grid-column: 2/13;
    display: flex;
}

.bay-struct-content > .bay-col-index-deck > .col-index-area-deck > .col-index-zone,
.bay-struct-content > .bay-col-index-cab > .col-index-area-cab > .col-index-zone {
    width: 25px;
    /*height: 50px;*/
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: lightblue;
}

.bay-struct-content > .bay-deck-lays > .bay-deck-single-lay,
.bay-struct-content > .bay-cab-lays > .bay-cab-single-lay {
    /*height: 20px;*/
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
}

.bay-struct-content > .bay-deck-lays > .bay-deck-single-lay >.bay-lay-index,
.bay-struct-content > .bay-cab-lays > .bay-cab-single-lay >.bay-lay-index {
    grid-column: 1;
    width: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: yellow;
}

.bay-struct-content > .bay-deck-lays > .bay-deck-single-lay > .bay-lay-zones,
.bay-struct-content > .bay-cab-lays > .bay-cab-single-lay > .bay-lay-zones {
    grid-column: 2/13;
    display: flex;
}

.bay-struct-content > .bay-deck-lays > .bay-deck-single-lay > .bay-lay-zones > .con-zone-initial,
.bay-struct-content > .bay-cab-lays > .bay-cab-single-lay > .bay-lay-zones > .con-zone-initial,
.bay-struct-content > .bay-deck-lays > .bay-deck-single-lay > .bay-lay-zones > .con-zone-exist,
.bay-struct-content > .bay-cab-lays > .bay-cab-single-lay > .bay-lay-zones > .con-zone-exist {
    width: 25px;
    height: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 2px solid #8a5c20;
    background-color: gray;
}

.bay-struct-content > .bay-deck-lays > .bay-deck-single-lay > .bay-lay-zones > .con-zone-after,
.bay-struct-content > .bay-cab-lays > .bay-cab-single-lay > .bay-lay-zones > .con-zone-after {
    width: 25px;
    height: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.bay-struct-content > .vessel-hat {
    height: 25px;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
}

.bay-struct-content > .vessel-hat > .blank-hat-area {
    grid-column: 1;
}

.bay-struct-content > .vessel-hat > .hat-area {
    grid-column: 2/13;
}

.bay-struct-content > .vessel-hat > .hat-area > .hat-zone {
    width: 25px;
    border: 2px solid white;
    background-color: #0c5460;
}

.bay-struct-zone-discard {
    width: 25px;
    height: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 2px solid white !important;
    background-color: white !important;
}

/* vessel all bays struct */
/* container pending info */
.vesOperationInfo {
    margin-top: 30px;
}

.vesOperationInfo .above {
    margin-bottom: 20px;
}

.above > .unload,
.above > .load,
.below > .unload,
.below > .load {
    display: inline-flex;
}

.above > .unload > .bay_20,
.below > .unload > .bay_20 {
    background: #b477b1;
    width: 38px;
    height: 60px;
    float:left;
    margin:2px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.above > .load > .bay_20,
.below > .load > .bay_20 {
    background: #3f45b4;
    width: 38px;
    height: 60px;
    float:left;
    margin:2px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.above > .unload > .comBay,
.above > .unload > .comBay,
.above > .load > .comBay,
.below > .unload > .comBay,
.below > .load > .comBay {
    width: 80px;
    height:60px;
    float: left;
    margin: 2px;
}

.above > .unload > .comBay > .bay40InCom,
.below > .unload > .comBay > .bay40InCom {
    background: #b477b1;
    width: 80px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: 2px solid silver;
}

.above > .load > .comBay > .bay40InCom,
.below > .load > .comBay > .bay40InCom {
    background: #3f45b4;
    width: 80px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: 2px solid silver;
}

.above > .unload > .comBay > .bay20sInCom,
.below > .unload > .comBay > .bay20sInCom {
    background: #b477b1;
    width: 80px;
    height: 30px;
    display:flex;
}

.above > .load > .comBay > .bay20sInCom,
.below > .load > .comBay > .bay20sInCom {
    background: #3f45b4;
    width: 80px;
    height: 30px;
    display:flex;
}

.above > .unload > .comBay > .bay20sInCom > .bay20InComLeft,
.above > .load > .comBay > .bay20sInCom > .bay20InComLeft,
.below > .unload > .comBay > .bay20sInCom > .bay20InComLeft,
.below > .load > .comBay > .bay20sInCom > .bay20InComLeft {
    width: 40px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    border-right: 1px solid silver;
}

.above > .unload > .comBay > .bay20sInCom > .bay20InComRight,
.above > .load > .comBay > .bay20sInCom > .bay20InComRight,
.below > .unload > .comBay > .bay20sInCom > .bay20InComRight,
.below > .load > .comBay > .bay20sInCom > .bay20InComRight {
    width: 40px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    border-left: 1px solid silver;
}
/* container pending info */

/* selected bay control when selecting  */
.bayArea_40 .leftBaySelected {
    border-left:5px solid red;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
}

.bayArea_40 .rightBaySelected {
    border-right:5px solid red;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
}

/* selected bay control when selecting  */
.bayArea .bayArea_20,
.bayArea .bayArea_40,
.mainArea .newBayArea {
    display: inline-flex;
}

.mainArea .vesselAreaSide {
    margin-top: 25px;
}

.bayAbove_20 {
    width:38px;
    height:80px; /*  */
    float: left;
    /*background-color:#d0ddf2;*/
    margin:2px;
}

.boardSide_inch20 {
    width:42px;
    height:10px;
    float: left;
    background-color:#775614;
}

.bayBelow_20 {
    width:38px;
    height:50px; /*  */
    float:left;
    /*background-color:#d0ddf2;*/
    margin:2px;
}

.conZone_20 {
    width:38px;
    height:10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: white;
}

.vesselConZone_inch20,
.vessel_inch20_default {
    width:38px;
    height:10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
}

.bayAbove_20 > .vesselBody_inch20,
.bayBelow_20 > .vesselBody_inch20 {
    width:38px;
    height:10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: black;
}

.onBoardSide,
.belowBoardSide{
    width: 100%;
    display: inline-flex;
    /*vertical-align: bottom; */
    /* https://stackoverflow.com/questions/38872653/why-inline-flex-element-with-clearfix-has-a-weird-white-space  */
}
/* jquery ui-select */
#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}
/* jquery ui-select */
/* character in span  */
.bay20Index,
.newBay20Index,
.newBay20IndexInCom,
.loadOrUnloadNum,
.text_silver{
    color: #cdd8f6;
}
/* character in span  */
.newBay40IndexInCom,
.vesselBodyBayIndex{
    color: black;
}

.leftBaySelected .bay40Index  {
    float: right;
    margin-right: 2px;
}

.rightBaySelected .bay40Index  {
    float: left;
    margin-left: 2px;
}
/* custom blink */
/*@-webkit-keyframes blinker {*/
/*    from {opacity: 1.0;}*/
/*    to {opacity: 0.0;}*/
/*}*/
/*.blink{*/
/*    text-decoration: blink;*/
/*    -webkit-animation-name: blinker;*/
/*    -webkit-animation-duration: 0.6s;*/
/*    -webkit-animation-iteration-count:infinite;*/
/*    -webkit-animation-timing-function:ease-in-out;*/
/*    -webkit-animation-direction: alternate;*/
/*}*/
/* custom blink */

.engineBody {
    background-color: black !important;
}


