* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.layer {
    width: 800px;
    height: 300px;
    background: snow;
    border: 1px solid #ccc;
    position: absolute;
    /*left: calc(50%-150px);
    top: calc(50%-150px);*/
    cursor: move;
}

.title {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: #eee;
    user-select: none;
}

.shadow {
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.close {
    width: 20px;
    height: 15px;
    text-align: center;
    /*text-indent: 0px;*/
    line-height: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: default;
}
#berthLengthInput{
    margin-left: 30px;
    margin-top: 30px;
}
#berthDeptInput{
    margin-top: 30px;
    margin-left: 120px;
}
#berth-info-submit{
    margin-top: 100px;
    margin-left: 500px;
}


