{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vessel Load and Unload">
    <meta name="author" content="Kerouac">
    <title>自动化集装箱码头</title>
    <link href="{% static 'images/smu.jpg' %}" rel="icon">
    <link href="{% static 'css/tool/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-text mx-3"></div>
        </a>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            船舶
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseYardMonitor"
               aria-expanded="true" aria-controls="collapseYardMonitor">
                <i class="fas fa-fw fa-grip-horizontal"></i>
                <span>船舶</span>
            </a>
            <div id="collapseYardMonitor" class="collapse" aria-labelledby="headingYardMonitor"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">船舶结构</h6>
                    <a class="collapse-item" link="vessel/add_vessel_page">自定义船舶结构</a>
                    <a class="collapse-item" link="yardMon/yard_layout">预配船图</a>
                    <a class="collapse-item" link="yardMon/yard_layout">船舶积载</a>
                    <a class="collapse-item" link="yardMon/yard_layout">船舶待装卸作业</a>
                </div>
            </div>

        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            泊位
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVesselInput"
               aria-expanded="true" aria-controls="collapseVesselInput">
                <i class="fas fa-fw fa-table"></i>
                <span>泊位信息</span>
            </a>
            <div id="collapseVesselInput" class="collapse" aria-labelledby="headingVesselInput"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">靠泊信息</h6>
                    <a class="collapse-item" link="vesselStruct/add_vessel_page/">输入泊位信息与靠泊信息</a>
                    <a class="collapse-item" link="vesselStruct/bay_struct_define/">计划/实际靠泊</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            岸桥
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVesselMonitor"
               aria-expanded="true" aria-controls="collapseVesselMonitor">
                <i class="fab fa-fw fa-docker"></i>
                <span>岸桥</span>
            </a>
            <div id="collapseVesselMonitor" class="collapse" aria-labelledby="headingVesselMonitor"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">视图</h6>
                    <a class="collapse-item" link="vesselStruct/ves_basic">自定义岸桥信息</a>
                    <a class="collapse-item" link="vesselStruct/ves_basic">岸桥作业计划</a>
                    <a class="collapse-item" link="vesselStruct/ves_basic">岸桥实际作业</a>
                    <a class="collapse-item" link="vesselStruct/ves_basic">岸桥任务</a>
                </div>
            </div>
        </li>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 bg-light" type="search" placeholder="请输入...."
                           aria-label="Search"/>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜 索</button>
                </form>

                <div id="dateImg">
                    <img src="../static/img/0.png"/>
                    <img src="../static/img/8.png"/>
                    时
                    <img src="../static/img/1.png"/>
                    <img src="../static/img/5.png"/>
                    分
                    <img src="../static/img/0.png"/>
                    <img src="../static/img/9.png"/>
                    秒
                </div>


                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Kerouac</span>
                            <img class="img-profile rounded-circle" src="../static/images/admin_user_01.png">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                个人信息
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                设置
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                操作日志
                            </a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" allowfullscreen src="default_page"></iframe>
                </div>
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Kerouac 2019.09 ~ 2020.12</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</div>
<script src="{% static 'js/tool/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/tool/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/tool/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
